

  

form {
  display: grid;
  place-content: right; 
  padding: 0px 150px;
}

p {
  font-family: system-ui, sans-serif;
}

label {
  
  font-family: system-ui, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 0.7;
  display:inline-grid; 
  gap: 0.5em;
}

label + label {
  margin-top: 0.2em;
}

label:focus-within {
  color: #4444FF;
}

input[type="radio"] {
  /* Add if not using autoprefixer 
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.05em);
  display: inline-grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #00AAFF;
}

input[type="radio"]:checked::before {
  outline: #00AAFF;
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: #00AAFF;
  // outline-offset: max(2px, 0.15em);
}

input[type="radio"]:hover {
  background-color: #aaaaaa;
  opacity: 1;
  border: 3px solid currentColor;
}

.radio-toolbar label {
      display: inline-block;
      margin-left: 100px;
    }




button {
                display: grid;
                margin: 10px;
                width: 200px;
                height: 60px;
                border: none;
                outline: none;
                background: #4444FF;
                color: #fff;
                font-size: 22px;
                border-radius: 40px;
                text-align: center;
                box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
                position: relative;
                overflow: hidden;
                cursor: pointer;
        }

        button:hover {
            background: #0044AA;
        }
        
    
        button:active {
            box-shadow: inset 0 0 20px #001a8f;
        }



input[type="submit"], input[type="button"] {
                display: grid;
                margin: 10px;
                width: 200px;
                height: 60px;
                border: none;
                outline: none;
                background: #4444FF;
                color: #fff;
                font-size: 22px;
                border-radius: 40px;
                text-align: center;
                box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
                position: relative;
                overflow: hidden;
                cursor: pointer;
        }

        input[type="submit"]:hover, input[type="button"]:hover {
            background: #0044AA;
        }

        input[type="submit"]:active, input[type="button"]:active {
            box-shadow: inset 0 0 20px #001a8f;
        }